<div class="d-flex justify-content-center">
    <ul class="list-unstyled">
        <li *ngFor="let course of courses" >
            <div *ngIf="!complted_course_ids.includes(course.id)">
                <a routerLink="course/{{course.id}}" class="d-flex align-items-center m-3 border-1" style="text-decoration: none; color: black;">
                    <div class="flex-shrink-0">
                        <img class="d-flex img-thumbnail align-self-center" [src]="course.imageUrl" alt="{{course.name}}" width="250" height="250">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h2>{{course.name}}</h2>
                        <h5>{{course.instructor}}</h5>
                        <p class="mb-0">{{course.description}}</p>
                        <div class="d-flex mt-2">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item border-0 mx-2 p-0 align-items-center" *ngFor="let tag of course.tags">
                                    <span class="badge bg-secondary">{{tag}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </a>
            </div>
                
        </li>
    </ul>
  
</div>